*{
    margin: 0;
    padding: 0;
}

.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: lightblue;
    /* border: 2px solid red; */
  
}
.container-nav > .cname{
    margin-right: auto;
    /* border: 2px solid red; */

}
.container-nav > li{
    list-style: none;
    padding: 20px;
    align-items: center;
    color: white;
    /* border: 2px solid red; */

}
.container-nav > li:hover{
    background-color: rgb(23, 36, 53);
}

@media all and (max-width: 550px){
    .container-nav{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;

    }
    .container-nav > .cname{
        margin-right: 0;
    }
    .container-nav > li:hover{
        background-color: rgb(23, 36, 53);
    }
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
}
.main > .left-sidebar{
    width: 20%;
    padding: 2%;
}
.main > .left-sidebar h1{
    text-align: right;
    margin-bottom: 15px;
}
.main > .left-sidebar p{
    text-align: left;
}
.main > .content{
    width: 50%;
    padding: 2%;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}
.main > .content p{
    margin-bottom: 20px;
}
.main > .right-sidebar{
    width: 20%;
    padding: 2%;
}
.main > .right-sidebar h1{
    text-align: right;
    margin-bottom: 15px;

}
.main > .right-sidebar p{
    text-align: left;
}
footer{
    background-color: lightblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}