*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;

}

.card {
    width: 60%;
    height: 350px;
    min-width: 450px;
    background-color: black;
    margin: 100px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card p{
    color: white;
    /* margin-bottom: 30px; */
    padding: 20px;
}
.btns{
    padding: 30px;
    display: inline-block;
}
a{
    color: black;
    text-decoration: none;
}
.button{
    background-color: yellow;
    padding: .5em 1.2em;
    border-radius: 4px;
}
.button:hover{
    background-color: orange;
}
.btn-big {
    font-size: 1.5rem;
}
.btn-small {
    font-size: .7rem;
}

