.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.container > div{
 
    flex: 1 1 150px;
}
.container > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}