*{
    margin: 0;
    padding: 0;
}
.page {
    display: flex;
    /* border: 1px solid black; */
}
.sidebar{
    height: 100%;
    /* width: 160px; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* overflow-x: hidden; */
    width: 15%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 20px;
    /* border: 1px solid black; */
 
}
.sidebar > .sidebar-logo{
    /* border: 1px solid yellow; */
}
.sidebar > .sidebar-logo div{
    display: flex;
    /* border: 1px solid black; */
    justify-content: flex-start;

}
.sidebar > .sidebar-logo div .fa-instagram{
    align-self: center;
    /* color: red; */
}
.sidebar > .sidebar-logo div h2{
    padding-left: 10px;
}
.sidebar > .sidebar-links{
    /* border: 1px solid black; */
    
}
.sidebar > .sidebar-links > .links{
    /* border: 1px solid red; */
    list-style: none;
    padding: 20px;
}
.sidebar > .sidebar-links > .links li{
    height: 40px;
    padding-left: 10px;
    /* border: 1px solid blue; */

}
.sidebar > .sidebar-links > .links li a{
    text-decoration: none;
    padding-left: 8px;
    color: black;
}
.sidebar > .sidebar-community{
    /* border: 1px solid green; */
    
}
.sidebar > .sidebar-community ul{
    list-style: none;
    padding: 10px;
    /* border: 1px solid green; */

}
.sidebar > .sidebar-community ul li{
    height: 30px;
    
    
}

.sidebar > .sidebar-community ul a{
    text-decoration: none;
    padding-left: 10px;
    color: black;
}
.main-content{
    width: 65%;
    /* border: 1px solid black; */
    padding: 20px;
    margin-left: 260px;

}
.main-content > .search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /* border: 1px solid black; */
}
.main-content > .search > span{
    /* border: 1px solid blue; */
    width: 50%;
    position: relative;
}
.main-content > .search > span > input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    /* border: 1px solid red; */

}
.main-content > .search > span > .fa-search{
    position: absolute;
    right: 1px;
    top: 5px;
}
.img-grid{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.img-grid > .four-img-section{
    width: 55%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-grid > .four-img-section div{
    width: 45%;
    /* border: 1px solid blue; */
}
.img-grid > .four-img-section div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-grid > .lg-img-section{
    width: 35%;
    /* border: 1px solid blue; */
    align-self: stretch;
}
.img-grid > .lg-img-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-content{
    padding: 30px;
}
.text-content p{
    margin-bottom: 20px;
}
.rightside{
    width: 20%;
    height: 100vh;
    padding: 20px;
    /* border: 1px solid black; */


}