*{
    margin: 0;
    padding: 0;
}
.page {
    display: flex;
    /* border: 1px solid black; */
}
.sidebar{
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 20px;
    /* border: 1px solid black; */
 
}
.sidebar > .sidebar-logo{
    /* border: 1px solid yellow; */
}
.sidebar > .sidebar-logo div{
    display: flex;
    /* border: 1px solid black; */
    justify-content: flex-start;

}
.sidebar > .sidebar-logo div .fa-instagram{
    align-self: center;
    /* color: red; */
}
.sidebar > .sidebar-logo div h2{
    padding-left: 10px;
}
.sidebar > .sidebar-links{
    /* border: 1px solid black; */
    
}
.sidebar > .sidebar-links > .links{
    /* border: 1px solid red; */
    list-style: none;
    padding: 20px;
}
.sidebar > .sidebar-links > .links li{
    height: 40px;
    padding-left: 10px;
    /* border: 1px solid blue; */

}
.sidebar > .sidebar-links > .links li a{
    text-decoration: none;
    padding-left: 8px;
    color: black;
}
.sidebar > .sidebar-community{
    /* border: 1px solid green; */
    
}
.sidebar > .sidebar-community ul{
    list-style: none;
    padding: 10px;
    /* border: 1px solid green; */

}
.sidebar > .sidebar-community ul li{
    height: 30px;
    
}
.sidebar > .sidebar-community ul a{
    text-decoration: none;
    padding-left: 10px;
    color: black;
}
.main-content{
    width: 65%;
    /* border: 1px solid black; */
    padding: 20px;

}
.rightside{
    width: 20%;
    height: 100vh;
    padding: 20px;
    /* border: 1px solid black; */


}