body{
    background: #f1f0f0;
}
nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;

}
.nav-links{
    display: inline-block;

}
.nav-links li{
    display: inline;
    margin: 1.8em;
}

.nav-links li a{
    text-decoration: none;
    text-transform: uppercase;
    color: burlywood;
}