/* body{
    background: #F8f8f8;
}
header {
    width: 60%;
    display: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;

}
.nav-links{
    display: inline-block;

}
.nav-links li{
    display: inline;
    margin: 1.2em;
    text-align: center;
}

.nav-links li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #707070;
}
.tagsupport{
    text-align: center;
    margin: 0 auto;
}
.tagline h1{
    font-size: 3.375rem;
    color: purple;
    margin-bottom: 2px;
    
}
.tagline p {
    text-transform: uppercase;
    color: lightblue;
    margin-top: 0;
    font-size: 1rem;
    
}
@media (max-width: 700px){
    nav {
        width: 80%;
        
    
    }
} */
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/*  ======================
    Typography
    ======================
*/


h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: magenta;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}
.subtitle{
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
    
}
header{
    text-align: center;
    background: #f8f8f8;
    padding: 2em 0;
}

nav ul{
    /* border: 1px solid magenta; */
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    /* width: 350px; */
}
nav li {
    /* border: 1px solid orange; */
    margin: 0 1em;
}
nav a {
    /* border: 1px solid green; */
    text-decoration: none;
    text-transform: uppercase;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}
nav a:hover, nav a:focus{
    color: #1792d2;

}
.current-page {
    border-bottom: 1px solid #707070;
}
.current-page:hover {
    color:  #707070;
}
